.sign-in {
    width: 380px;
    display: flex;
    flex-direction: column;
    // border: 1px solid rgb(12, 11, 17) ;


    .title {
      margin: 10px 0;
      // padding-left: 50px;

    }
  
    .buttons {
      display: flex;
      justify-content: space-between;
    }
  }
  